.wrapper section {
    display: flex;
}

.wrapper .left {
    float: left;
    flex: 1;
    padding: 50px;
}

.wrapper .right {
    flex: 3;
    padding: 50px;
}

.wrapper .right .data {
    padding: 10px;
    flex: 5;
    text-align: left;
}

.wrapper input[value="Edytuj profil"],
input[value="Edytuj"],
input[value="Zapisz zmiany"]{
    float: right;
    margin-bottom: -7px;
}

.wrapper input[type="text"],
.wrapper input[type="email"],
.wrapper input[type="password"],
.wrapper input[type="number"]
{
    margin: 5px;
}

.wrapper h2 {
    font-family: Catamaran;
    font-size: 28px;
    font-weight: 600;
    color: #111;
    text-align: center;
    text-transform: uppercase;
}

.wrapper .usersList {
    margin-left: 50px;
}

.wrapper .usersList tr td {
    margin: 20px;
    padding-left: 20px;
    height: 50px;
}

.wrapper .usersList p {
    margin: 20px;
    font-size: 20px;
    text-align: center;
}

.wrapper .deleteUser {
    text-align: center;
    margin: 40px;
}

.wrapper .deleteUser h4 {
    font-size: 20px;
    color: red;
    margin: 10px;
}

.wrapper .deleteUser p {
    font-size: 25px;
    margin: 10px;
}

.wrapper .deleteUser input {
    font-size: 15px;
    margin: 0 20px 0 10px;
    padding: 5px 10px 5px 10px;
}


